body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
}

.main{
    background-color: white;
    padding: 20px;
}

.heading{
    text-align: center;
}

.desc{
    text-align: center;
}

.form-group{

}

.form-label{
}

.form-message{
    
}
